# Django
DJANGO_SECRET_KEY=change-me-in-production
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*

# MariaDB
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=pharos_db
DB_USER=root
DB_PASSWORD=

# ClickHouse
CLICKHOUSE_HOST=127.0.0.1
CLICKHOUSE_PORT=9000
CLICKHOUSE_HTTP_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=123456
CLICKHOUSE_DATABASE=default
